server:
  port: 8084
spring:
  application:
    name: inventory-service  # 服务名，注册到 Nacos 上显示的名字
  cloud:
    nacos:
      discovery:
        server-addr: 127.0.0.1:8848   # Nacos Server 地址
        namespace: public            # 可选，命名空间
        service: inventory-service     # 可选，不写默认用 application.name
      config:
        server-addr: 127.0.0.1:8848
        namespace: public
        file-extension: yaml